.sorting tr:not(.home){
    cursor: pointer;
}

.ui-state-hightlight{
    border: 1px dashed #ccc;
}
#imgPreview{
    margin:25px;
   }
#noimage{
    width: 80px;
    height: 80px;
}
ul.gallery{
    padding:0;
}
ul.gallery li:first-child{
    margin-left:0;
}
ul.gallery li{
   margin:20px;
   display:inline-block; 

}
table.alignmiddle td{
    vertical-align:middle !important;
}
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    border-radius: inherit;
}